public/annotation-workflow.json
{
  "name": "Image annotation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -500,
        -145
      ],
      "id": "8e3988ef-1a09-4a83-be34-4f2fe4cbf7dd",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1DJl5eDJSTOQUBFYIdAFtl3LEbn80hh6D",
            "mode": "list",
            "cachedResultName": "Images",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1DJl5eDJSTOQUBFYIdAFtl3LEbn80hh6D"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -280,
        -145
      ],
      "id": "eb1bb4d8-ed5d-49f7-a1bc-95249cc1d0fd",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "O5FYxXpGkdieyAl8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -60,
        -145
      ],
      "id": "330a316e-e80c-429d-98ae-7aabf5a02a3b",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "O5FYxXpGkdieyAl8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        160,
        -145
      ],
      "id": "883aaa2f-e354-4e57-8713-ce472e99eeb3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "google/gemma-3-12b",
          "mode": "id"
        },
        "text": "=[no prose]\n[Output JSON Only]\n\nGenerate metadata for an image in valid JSON format. The output should be an array of objects where each object has three keys Title, Description, Keywords.\n\nEnsure the response is a valid JSON array",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        380,
        -220
      ],
      "id": "d378d32e-a671-4b08-a969-a36f56498e15",
      "name": "Analyze image1",
      "credentials": {
        "openAiApi": {
          "id": "cZ4Ba0GyN69RV8GX",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n  const cleaned = JSON.parse(item.json.content.replace(/```json\\n|\\n```/g, \"\"))\n\n  return {json: cleaned[0]}\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        -220
      ],
      "id": "10366e21-7696-4559-9dfd-f44cd3ff5dda",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IdUo0dWdVX89a4l0vgZRTP_5t1AhFvo84UpzuEI-K1Y",
          "mode": "list",
          "cachedResultName": "Image Meta",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IdUo0dWdVX89a4l0vgZRTP_5t1AhFvo84UpzuEI-K1Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IdUo0dWdVX89a4l0vgZRTP_5t1AhFvo84UpzuEI-K1Y/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Filename": "={{ $('Loop Over Items').item.json.name }}",
            "Title": "={{ $json.Title }}",
            "Description": "={{ $json.Description }}",
            "Keywords": "={{ $json.Keywords }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Filename",
              "displayName": "Filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        820,
        -145
      ],
      "id": "39850ee2-606c-4d72-ab43-e3f65af6523c",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fZVH4DxFugACYbx5",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Analyze image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dfbc89c0-02a7-4818-8724-2d94aa82f42d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7856744a78a92862637007b7ffe03fefd29401e647c996370f2542d4a835540e"
  },
  "id": "1oRzZOMLSTB6vhBo",
  "tags": []
}